<%- include('./partials/head') %>


<section class="container">
  <header class="header-title">
    <h1 id="ourTribe-title">Our Tribe</h1>
  </header>

 <article class="leftside-article">
  <section class="container2">
    <div class="search-div">
      <input class="input-searchbar" type="text" placeholder="Zoek...">
    </div>
      <div>
        <select  class="selectie-filter" name="filter" id="filter">
          <option selected value="0">All</option>
          <option value="1">A-Z</option>
          <option value="2">Nicknames</option>
          <option value="3">Avatar</option>
        </select>
      
      </div>
  </section>

  <!-- <p class="kies-text">
    Kies je squad:
  </p> -->
  <!-- <button class="scroll-btn up"></button>
  <button class="scroll-btn down"></button> -->


  <div class="all-squadnames">
    <% squads.forEach(squad => { %> <!-- Voor elke squad in de 'squads' array -->
    <div>
      <button class="squadname">Squad <%= squad.name %></button>
    </div>
  <% }) %>
  </div>
 
  <!-- 1.filter label 2.searchbar 3. kies sqaud 4. sqaudnames-scrol -->
 </article>
 <article class="rightside-article">
  <h2 >Studenten</h2>

  <!-- stars with student info -->
<ul class="ul-personen">
    <% persons.forEach(person => { %> <!-- Voor elke student in de 'persons' array -->
      <% if (person.squad_id === 5) { %>
      <li class="li-persoon-item" >
        <div class="div-star">
          <h2><a class="a-perso on glow" href="./person/<%= person.id %>"> <%= person.name %></a>
            </h2>
        </div>
        
      </li> <!-- link naar de student met hun naam -->
      <% } %>
    <% }) %>
  </ul>
   <!-- <img  class="img-planeet" src="/images/planet-2.png" alt=""> -->
</article>
</section>

<%- include('./partials/foot') %>