<%- include('./partials/head') %>

<a class="-button-back" href="/">Back</a>

<h2 class="person-name"><%= person.name %></h2>
<h3 class="person-nickname"><%= person.nickname %></h3>


<p>Squad: <%= person.squad_id %>

<%- include('./partials/foot') %>